<!DOCTYPE html>
<html lang="es"> 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Otakueva: Rincón para otakus obsesivos </title>
    <link rel="stylesheet" href="../static/styles.css" />

</head>

<body>
    <header class="navbar">
        <div class="navbar_logo">
            <img src="../static/logo.png" alt="Logo de Otakueva"> Blog otaku
        </div>
        <ul class="navbar_navegacion">
            <li class="navbar_navegacion_item"> <a href="#" class="navbar_link"> Inicio </a></li>
            <li class="navbar_navegacion_item"> <a href="#" class="navbar_link"> Entradas </a></li>

        </ul>

    </header>

    <main class="main">
        <section>
            <h2> Agrega una nueva entrada.</h2>
            <form class="form" method="POST">
                <p class="form_input">
                    <label for="titulo" class="form_label"> Titulo: </label>
                    <input type="text" name="tit" id="titulo" class="title">
                </p>
                <p class="form_input">
                    <label for="entry" class="form_label"> Contenido: </label>
                    <textarea name="content" id="entry" class="form_textarea"></textarea>
                </p>
                <button type="submit" class="form_submit"> Publicar </button>
            </form>
        </section>
        <section>
            <h2> Entradas recientes: </h2>
            <article class="entry">
                <div>
                    <h3 class="entry_title">
                        Chainsawman
                    </h3>
                    <time datetime="27-4-2025" class="entry_date">* 27-4-2025 </time>
                </div>
                <p class="entry_content">
                    Denji vivía esclavizado por la yakuza debido a la deuda que le heredó su padre.
                    Era menos que un ser humano.
                </p>
            </article>
            
            {% for entrada in entradas %}
                <article class="entry">
                    <div>
                        <h3 class="entry_title">
                            {{entrada.titulo}}
                        </h3>
                        <time datetime={{entrada.fecha}} class="entry_date">* {{entrada.fecha}} </time>
                    </div>
                    <p class="entry_content">
                        {{entrada.contenido}}
                    </p>
                </article>
            {% endfor %}

        </section>
    </main>

    <footer class="footer">
        <div class="footer_content">
            <section class="right">
                <div class="footer_column">
                    <section class="left">
                        <a class="footer_item"> Creada por F Drake.</a>
                    </section>
                </div>
                <div class="footer_column">
                    <section class="left">
                        <a class="footer_item"> Explora el resto de la cueva.</a>
                    </section>
                </div>
                <div class="footer_column">
                    <a class="footer_item"> Recientes.</a>
                    <a class="footer_item"> Calendario. </a> 
                </div>
                <div class="footer_column">
                    <a class="footer_item"> Acerca de.</a>
                    <a class="footer_item"> Cómo se hizo esto? </a> 
                </div>
            </section>
        </div>

    </footer>

</body>

</html>